@import "tailwindcss";

/* Ajuste básico para o app ocupar a tela toda */
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #f3f4f6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 106, 255, 0.4); /* Cor discreta (gray-600 com opacidade) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.8); /* Fica mais claro ao passar o mouse */
}